h1 {
    text-align: left;
    color: #1d494e;
    font-size: 45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5px;
}

#description {
    text-align: left;
    color: #bddc70;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 40px;
}

#buttonbox {
    border-style: solid;
    border-radius: 15px 50px;
    border-color: #ffcdc8;
    border-width: 10px;
    height: 115px;
    width: 200px;
    margin-bottom: 40px;
}

#buttons {
    padding-top: 10px;
    width: 180px;
    text-align: center;

}

#or {
    width: 180px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#bddc70;
}


#type, #random {  
    border-radius: 12px;
    background-color: #1d494e;
    color:aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
}

hr {
    border: 2px dotted;
    color: #FFE4E2;
}

